/* navbar start */
.navbarbutton{
color: chocolate;
border-color: chocolate;
background-color: white;
}
/* navbar end */

/* Discover hidden  start */
.hidddenbutton{
    background-color: chocolate;
    color: aliceblue;
    font-size: 15px;
    padding: 10px 20px;
}
/* Discover Hidden End */
