/* navbar start */
.navbarbutton{
color: chocolate;
border-color: chocolate;
background-color: white;
}
/* navbar end */

/* Discover hidden  start */
.hiddenword{
    background-color: rgb(219, 227, 235);
}
.hidddenbutton{
    background-color: chocolate;
    color: aliceblue;
    font-size: 15px;
    padding: 10px 20px;
}
/* Discover Hidden End */

/* About us start */
.aboutustext{
    color: chocolate;
}
/* About us End */

/* mostpopular start */
.mostpopular{
    background-color: rgb(255, 231, 201);
}
/* mostpopular end */

/* Historical start */
.historical{
    background-color: rgb(250, 250, 250);
}
.historicalborder{
    background:rgba(142, 144, 146, 0.589);

}

.carousel-control-prev-icon {
   
    background-color:chocolate;
    border-radius: 100%;
    /* background-image: url("images/carousel/back.svg"); */ 
   
}

.carousel-control-next-icon {
    background-color:chocolate;
    border-radius: 100%;
}

/* Historical end */

/* Gallery image start */
.imgagetext{
    text-align: center;
    /* text-justify: center; */
}
/* Gallery image end */


/* fascinating blog start */

/* fascinating blog end */
